html, body {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;    
}

header {
    background-color: rgb(233, 233, 233);
    color: rgb(92, 92, 92);
    padding: 12px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header h3,h4{
    margin: 0 !important;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1100; /* Ensure it appears above other elements */
}

footer p{
    margin: 0 !important;
}

#feature-box {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#feature-box h3 {
    margin: 0 0 10px;
    font-size: 16px;
    color: #333;
}

#feature-box label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.ol-control > * {
    background-color: #f8f8f8 !important;
    color: #444 !important;
    border-radius: 0px;
}

.ol-control > *:focus, .ol-control >*:hover {
    background-color: rgba(248, 248, 248, 0.7) !important;
}

/**/

.icon-button {
    position: fixed;
    top: 10px;
    background-color: lightgray;
    color: rgb(92, 92, 92);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button:hover {
    background-color: rgb(181, 181, 181);
    color: white;
}

.icon-button i {
    font-size: 16px;
}

.person-toggle {
    right: 304px;
}

.info-toggle{
    right: 265px;
}

.document-toggle{
    right: 230px;
}

.number-toggle-3 {
    right: 50px;
}

.number-toggle-2 {
    right: 107px;
}

.number-toggle-1 {
    right: 164px;
}

.menu-toggle{
    right: 10px;
}

/**/

.img {
    position: fixed;
    top: 10px;
    border: none;
    cursor: pointer;
    z-index: 1100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img1 {
    left: 10px;
}

.img2 {
    left: 70px;
}

.img3 {
    left: 110px;
}

.img4 {
    left: 180px;
}
/**/

#legend-container {
    position: fixed;
    bottom: 50px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow-y: auto;
    font-size: 14px;
    color: #333;
}

#legend-container h3 {
    margin: 0 0 10px;
    font-size: 16px;
    color: #333;
}

#legend-container h5 {
    margin: 4px 0 8px 0 ;
}

#legend-container li {
    font-size: 13px;
}


.legenda{
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
}